{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block stylesheets %}
    {#<link rel="stylesheet" href="{{ asset('styles/home.css') }}">#}
{% endblock %}

{% block main %}
    <main>
        <p>teste</p>
    </main>
{% endblock %}
