<footer class="main-footer">
  <div>
    <h2>Knowledge Learning</h2>
    <p>
      La société éditrice <strong>Knowledge</strong> est connue pour ses supports de formation vendus en librairie.  
      Désormais, grâce au projet <strong>Knowledge Learning</strong>, nous vous proposons en ligne des formations dans  
      des domaines variés comme la <strong>musique</strong>, l’<strong>informatique</strong> ou le <strong>jardinage</strong>.
    </p>
    <nav>
      <a href="#">Accueil</a> |
      <a href="#">Formations</a> |
      <a href="#">À propos</a> |
      <a href="#">Contact</a>
    </nav>
      <div>
        &copy; 2025 Knowledge Learning — Tous droits réservés.
      </div>
  </div>
</footer>

