<header class="main-header">
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Logo"></a>
    </div>
    <nav class="menu">
        <ul>
            <li>
                <a href="#" class="menu-item">Explorer</a>
            </li>
            <li>
                <input type="text" placeholder="Search">
                <img src="/images/icons/search.png" alt="Search">
            </li>
            <li>
                <i class="fa-solid fa-cart-shopping menu-item"></i>
            </li>
            <li>
                <a href="#" class="menu-item">Teste</a>
            </li>
            {% if not app.user %}
              <li>
                <a href="{{ path('app_login') }}" class="btn-outline">Log in</a>
              </li>
              <li>
                <a href="{{ path('app_register') }}" class="btn">Register</a>
              </li>
            {% else %}
              <li class="menu-item_profile">
                <em>{{ app.user.firstName|slice(0, 1)}} {{ app.user.lastName|slice(0, 1) }}</em>
                <div class="menu-item_profile__dropdown">
                
                </div>
              </li>
            {% endif %}
        </ul>
    </nav>
</header>
