<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Logo"></a>
    </div>
    <nav class="menu">
        <ul>
            <li>
                <a href="#" class="menu-item">Explorer</a>
            </li>
            <li>
                <input type="text" placeholder="Search">
                <img src="/images/icons/search.png" alt="Search">
            </li>
            <li>
                <i class="fa-solid fa-cart-shopping menu-item"></i>
            </li>
            <li>
                <a href="#" class="menu-item">Teste</a>
            </li>
            <li>
                <a href="#" class="btn-outline">Log in</a>
            </li>
            <li>
                <a href="#" class="btn">Register</a>
            </li>
        </ul>
    </nav>
</header>
