@import url("utils.css");
@import url("header.css");
@import url("footer.css");

@font-face {
  font-family: "Comic Sans MS";
  src: url("../fonts/Comic-Sans-MS/Comic-Sans-MS.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Regular";
  src: url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}

:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f6f7f9;
  --h1-color: #384050;
  --h2-color: #595c73;
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #808b96;
  --btn-color: #0074c7;
  --btn-hover-dark-color: #00497c;
  --btn-hover-light-color: #b9e0f7;
  --danger-color: #cd2c2e;
  --success-color: #82b864;
  --warning-color: #f1c40f;
  --info-color: #85c1e9;
  --input-border-color: #ccd1d1;
  --input-hover-color: #f8f9f9;
  --green: #008000;
  --orange: #ff8c00;
  --soft-green: rgba(149, 213, 155, 0.5);
  --vibrant-gold: rgba(255, 215, 0, 0.5);
  --blue-sky: rgba(185, 224, 247, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS";
  color: var(--main-text-color);
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h1-color);
}

ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

input,
textarea,
p,
table {
  font-size: 1rem;
  font-family: "Roboto Regular";
  color: var(--tertiary-text-color);
}

hr {
  color: var(--input-border-color);
}
