@import url("utils.css");

@font-face {
  font-family: "Comic Sans MS";
  src: url("../fonts/Comic Sans MS/Comic Sans MS.ttf") format("truetype");
}

:root {
  --secondary-bg-color: #ffffff;
  --h1-color: #384050;
  --h2-color: #595c73;
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #808b96;
  --btn-color: #0074c7;
  --btn-hover-dark-color: #00497c;
  --btn-hover-light-color: #b9e0f7;
  --danger-color: #cd2c2e;
  --success-color: #82b864;
  --info-color: #85c1e9;
  --input-border-color: #ccd1d1;
  --input-hover-color: #f8f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS";
  color: var(--main-text-color);
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

h1 {
  color: var(--h1-color);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--h2-color);
}

/* ==================== HEADER  ==================== */

.main-header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 6px -2px rgba(0, 116, 199, 0.3);
  z-index: 10;

  & .logo {
    width: 140px;
    height: 70px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  & .menu {
    width: 100%;

    & ul {
      display: flex;
      flex-direction: row;
      /*justify-content:space-between;*/
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      list-style: none;
      height: 100%;

      & li {
        white-space: nowrap;
      }

      & li:nth-child(2) {
        flex: 1;
        position: relative;

        & input {
          width: 100%;
          height: 40px;
          border: 1px solid #ccd1d1;
          border-radius: 2rem;
          padding: 10px 35px 10px 50px;
        }

        & input:focus {
          outline-color: var(--btn-color);
        }

        & img {
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }

      & li:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
      }

      & .menu-item_profile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;

        & .menu-item_profile__dropdown {
          display: none;
          position: absolute;
          height: 200px;
          width: 200px;
          background-color: var(--secondary-bg-color);
          border-radius: 0.3rem;
          border: 1px solid #ccd1d1;
          top: 100px;
          right: 10px;
          transition: background 0.3s;
          z-index: 10;
        }

        & em {
          border-radius: 50%;
          background-color: var(--main-text-color);
          padding: 1.5rem;
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-weight: bold;
          color: var(--secondary-text-color);
        }
      }

      & .menu-item_profile:hover {
        border-radius: 0.3rem;
        padding: 0.5rem;
        cursor: pointer;
        background-color: var(--btn-hover-light-color);
        border-radius: 0.3rem;
      }

      & .menu-item_profile:hover .menu-item_profile__dropdown {
        display: block;
      }
    }
  }
}

/* ==================== FOOTER  ==================== */
.main-footer {
  padding: 1rem;
  background-color: var(--btn-hover-dark-color);
}
