@import "./utils.css";

.lesson {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: var(--main-bg-color);
  margin-top: 100px;
}

.lesson-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background-color: var(--secondary-bg-color);
}

.lesson-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 2rem;
}

.lesson-header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 80%;
  gap: 1rem;
}

.lesson-header__content h1 {
  font-size: 2rem;
  color: var(--btn-hover-dark-color);
}

.lesson-header__content div {
  font-family: "Nunito Regular";
  text-align: justify;
  color: var(--main-text-color);
}

.lesson-header__badge {
  font-family: "Nunito Regular";
  font-size: 0.8rem;
  width: fit-content;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: var(--blue-sky);
  color: var(--btn-color);
}

.lesson-header__check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.lesson-header__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 20%;
}

.lesson-header__image img {
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 10px black;
  border: 1px solid var(--input-border-color);
}

.lesson-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  gap: 1rem;
}

.chapters-list {
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 1px solid var(--input-border-color);
  border-radius: 0.3rem;
  background-color: var(--secondary-bg-color);
}

.chapters-list__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid var(--input-border-color);
}

.chapters-list__title h4 {
  color: var(--btn-hover-dark-color);
}

.chapters-list__title i {
  color: var(--btn-hover-dark-color);
}

.chapters-list ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.chapters-list ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--input-border-color);
  width: 100%;
}

.chapters-list ul li a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--main-text-color);
  font-family: "Nunito Regular";
  width: 100%;
  height: 100%;
}

.chapters-list ul li img {
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
}

.chapters-list ul li:hover {
  background-color: var(--btn-hover-light-color);
}

.chapters-list ul li.active {
  background-color: var(--btn-hover-light-color);
}

.chapters-list ul li.active a {
  color: var(--btn-hover-dark-color);
}

.chapters-list ul li form {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chapters-list ul li form label {
  font-family: "Nunito Regular";
}

.chapters-list ul li:last-child {
  border-bottom: none;
  margin-top: auto;
}

.chapters-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  border: 1px solid var(--input-border-color);
  border-radius: 0.3rem;
}

.chapter-title {
  width: 100%;
  padding: 1rem;
  color: var(--btn-hover-dark-color);
  border-bottom: 1px solid var(--input-border-color);
  background-color: var(--secondary-bg-color);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.video-player {
  padding: 1rem;
  width: 100%;
}

#player {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 50%;
  max-width: 500px;
  aspect-ratio: 16 / 9;
  background-color: #000;
}

.chapter-text div {
  font-family: "Nunito Regular";
  text-align: justify;
  color: var(--tertiary-text-color);
  letter-spacing: 1px;
  line-height: 2;
}

.chapter-text {
  font-family: "Nunito Regular";
  text-align: justify;
  color: var(--tertiary-text-color);
  letter-spacing: 1px;
  line-height: 2;
}

.chapter-text::after {
  content: "";
  display: block;
  clear: both;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: fit-content;
  text-align: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.modal-body h2 {
  justify-content: center;
  color: var(--btn-hover-dark-color);
}

.modal-body a {
  font-family: "Nunito Regular";
  width: 100%;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--input-border-color);
  background-color: var(--secondary-bg-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-header p {
  color: var(--btn-hover-dark-color);
  font-size: 1rem;
}

.modal-header span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--btn-hover-dark-color);
  font-size: 1.5rem;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/*.modal .close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: var(--btn-hover-dark-color);
}*/
