main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--main-bg-color);
}

.registration-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  margin-top: 100px;
}

.registration-image {
  width: 50%;
  background-image: url("/public/images/register_1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  /*display: flex;
  flex-grow: 1;

  & img {
    width: 100%;
  }*/
}

.registration-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 3rem;
}

.registration-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & div {
    width: 100%;
  }

  & button {
    width: 100%;
  }

  & h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.registration-footer {
  margin-top: 2rem;
  background-color: #f6f7f9;
  padding: 1rem;
  width: 100%;
  text-align: center;

  & a {
    color: var(--btn-color);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .registration-container {
    flex-direction: column;
  }

  .registration-image {
    background-image: url("/public/images/register_4.jpg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
  }

  .registration-form {
    width: 100%;
    padding: 1rem;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .registration-container {
    flex-direction: column;
  }

  .registration-image {
    background-image: url("/public/images/register_4.jpg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    width: 100%;
  }

  .registration-form {
    width: 100%;
    padding: 1rem;
  }
}
