/* ==================== UTILITIES  ==================== */

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color);
  color: var(--secondary-text-color);
  text-decoration: none;
}

.btn:hover {
  background-color: var(--btn-hover-dark-color);
}

.btn-outline {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--btn-color);
  background-color: var(--secondary-bg-color);
  color: var(--btn-color);
  text-decoration: none;
}

.btn-outline:hover {
  background-color: var(--btn-hover-light-color);
  border-color: var(--btn-hover-light-color);
}

.menu-item {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-decoration: none;
  border: 1px solid transparent;
}

.menu-item:hover {
  background-color: var(--btn-hover-light-color);
  color: var(--btn-color);
}

.alert-danger {
  font-family: "Nunito Regular";
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  width: 100%;
  color: var(--danger-color);
  border: 1px solid var(--danger-color);
  & i {
    color: var(--danger-color);
  }
}

.alert-success {
  font-family: "Nunito Regular";
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  width: 100%;
  color: var(--success-color);
  border: 1px solid var(--success-color);
  & i {
    color: var(--success-color);
  }
}

.alert-info {
  font-family: "Nunito Regular";
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  width: 100%;
  color: var(--info-color);
  border: 1px solid var(--info-color);
  & i {
    color: var(--info-color);
  }
}

.form-control {
  height: 60px;
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid var(--input-border-color);
  padding: 10px 15px;
}

.form-control:focus {
  outline: 1px solid var(--btn-color);
}

.form-control:hover {
  background-color: var(--input-hover-color);
}

.form-control::placeholder {
  color: var(--tertiary-text-color);
}

.form-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50px;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;

  & a {
    color: var(--btn-color);
  }
}

.active {
  background-color: var(--btn-hover-dark-color);
  color: var(--secondary-text-color) !important;
}

.form-error {
  list-style: none;

  & li {
    font-size: 0.8rem;
    color: var(--danger-color);
    & i {
      color: var(--danger-color);
      margin-right: 0.5rem;
    }
  }
}

.is-invalid {
  border: 1px solid var(--danger-color);
}

.mv,
.nv,
.mc {
  align-self: self-start;
  font-family: "Nunito Regular";
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  width: fit-content;
  border-radius: 0.2rem;
  opacity: 0.8;
}

.mv {
  color: var(--btn-hover-dark-color);
  background-color: var(--blue-sky);
}
.nv {
  color: var(--green);
  background-color: var(--soft-green);
}

.mc {
  color: var(--orange);
  background-color: var(--vibrant-gold);
}

.breadcrumb {
  margin-top: 2rem;
  width: 80%;
}

.breadcrumb a,
span {
  color: var(--btn-hover-dark-color);
  font-family: "Nunito Regular";
}

.breadcrumb i {
  color: var(--btn-hover-dark-color);
}
