{% extends 'base.html.twig' %}

{% block title %}Mes certifications{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('certifications') }}
{% endblock %}

{% block main %}
  <main class="certifications">
  </main>
{% endblock %}
