{% extends 'base.html.twig' %}

{% block title %}Página Não Encontrada{% endblock %}

{% block body %}
  <h1>404 - Página Não Encontrada</h1>
  <p>A página que procuras não existe.</p>
  <a href="{{ path('app_home') }}">Voltar à página inicial</a>
{% endblock %}

