<section class="user-container__profile">
  <header>
    <div>
      <img src="{{ asset('uploads/' ~ app.user.image) }}" alt="avatar" style="width: 100px; height: 100px;">
    </div>

    <div>
      <h2>{{ app.user.firstName }} {{ app.user.lastName }}</h2>
    </div>
  <header>
</section>
